body {
  background-color: rgb(177, 188, 225);
  color: #fff;
}

.navbar {
  border-bottom: #c0392b 3px solid;
  opacity: 0.7;
}

#home-section {
  background: url(../psicoGalera/img/galera1.jpeg) no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

#who-section {
  background: url(../psicoGalera/img/logoPsicotecnicoGalera.jpeg) no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: black;
}

#services-section {
  background: url(../psicoGalera/img/Malteser_Galeere.jpeg) no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
}

#services-section:before {
  content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

#services-section ul, li {
  font-size: 30px;
	color: #fff;
	position: relative
}

#services-section h1 {
  color: #fff;
	position: relative
}
.home-inner {
  padding: 150px;
}

@media (max-width: 992px) {
  .home-inner {
    padding: 100px;
  }
}

/* Style all font awesome icons */
.fa-facebook .fa-instagram{
  padding: 30px;
  font-size: 40px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa-facebook:hover  .fa-twitter:hover{
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  text-decoration: none;
}

/* Instagram */
.fa-instagram {
  background: #55ACEE;
  color: white;
  text-decoration: none;
  margin: 20px;
}

.contenedor-responsivo {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.iframe-responsivo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
